# direnv configs
# Add the working directory to `PYTHONPATH`; allows Jupyter notebooks in the `notebooks` folder to import `src`
export PYTHONPATH="$PYTHONPATH:$(pwd)/src"

eval "$(conda shell.bash hook)"
conda activate coursera
